@{
  Layout = "_Layout";
}
@using VendorManager.Models;
<div class="min-h-screen py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 max-w-screen mx-auto">
    <div class="object-center ">
      <table class="shadow-lg bg-white rounded-md ">
        <tr>
          <th class="bg-blue-100 border text-left px-8 py-4">Vendor Name</th>
          <th class="bg-blue-100 border text-left px-8 py-4">Description</th>
          <th class="bg-blue-100 border text-left px-8 py-4">Number of Orders</th>
        </tr>
        <tr>
          <td class="border px-8 py-4 text-red-900 animate-pulse"><a href='/vendors/new'>Add a new Vendor</a></td>
          <td class="border px-8 py-4">@Model.Count Vendors</td>
        </tr>
        @if (@Model.Count == 0)
        {

          <h3>No Vendors have been added to the manager</h3>
        }
        @foreach (Vendor vendor in Model)
        {
          <tr>
            <td class="border px-8 py-4"><a href='/vendors/@vendor.Id'>@vendor.Name</a></td>
            <td class="border px-8 py-4">@vendor.Description</td>
            <td class="border px-8 py-4">@vendor.CurrentOrdersList.Count Orders</td>
          </tr>
        }
      </table>
    </div>
  </div>
</div>
